# Condition

### Relational operators:>,>=,<,<=,==

In [1]:
a=10
print(a)

10

In [3]:
b=(a==10)
print(b)

True

In [4]:
#Syntax:Condition

#if condition:

In [5]:
#example:

a=100

if a==10:
    print("I am in if block")
    
else:
    print("I am in else block")
    print("i am still in else")
    print("else")
    print(" still in else...")
    
print("end")

I am in else block
i am still in else
else
 still in else...
end

In [1]:
#1.WAP a program to check whether student ids pass or fail

mark=int(input("Enter user marks:"))


if mark>=100:
    print("pass")
    
else:
    print("fail")

Enter user marks:60
fail

In [3]:
# 2.WAP a program to check whether no is positive /negative

a=int(input("enter a no:"))

if a>0:
    print("positive")
    
else:
    print("negative")

enter a no:2
positive

In [5]:
#3.WAP to check greater no among two no.

n1=int(input("enter a no:"))
n2=int(input("enter a no:"))

if n1>n2:
    print(n1,"is greater than",n2)
    
else:
    print(n2,"is greater than",n1)

enter a no:24
enter a no:45
45 is greater than 24

In [6]:
# WAP TO CHECK if both no is same 

n1=int(input("enter a no:"))
n2=int(input("enter a no:"))


if n1>n2:
    print(n1,"is greater than",n2)
    
elif n2>n1:
    print(n2,"is greater than",n1)
    
else:
    print(n2,"is equal",n1)

enter a no:23
enter a no:23
23 is equal 23

In [7]:
# WAP to check no is even or odd

n1=int(input("enter a no:"))

if (n1%2==0):
    print(" no is even")
    
else:
    print("no is odd")

enter a no:34
 no is even

In [8]:
#5.WAP to check no is divisible by 11.

n1=int(input("enter a no:"))

if (n1%11==0):
    print(" divsible")
    
else:
    print("not divisble")

enter a no:44
 divsible

#### LOGICAL OPERATORS:and,or,not

In [2]:
#6.WAP to check wheter given no is divisible by 5,7.

n=int(input("Enter a no:"))

if (n%5==0) and (n%7==0):
    print(n,"is divisble by 5,7")
    
else:
    print(n,"is not divisible by 5,7 ")

Enter a no:2
2 is not divisible by 5,7

In [12]:
#7.WAP to check wheter givern no is in the range of 111 to 222

n=int(input("Enter a no:"))

if (n>=111) and (n<=222):
    print(n,"is in range")
    
else:
    print(n,"is not in range ")

Enter a no:123
123 is in range

In [19]:
#8.WAP to check given no is three digit multiple of 17.

n=int(input("Enter a no:"))

if (n>=99) and (n<=1000) and (n%17==0):
    print(n,"yes")
    
else:
    print(n,"no")

Enter a no:1700
1700 no

In [20]:
# WAp to display Salary Slip of Employee.

#   Basic Salary          Dearness Alw          Travelling Alw       Incentive           
#      <10000                 50%                     10%                5000
#      <20000                 60%                     20%               10000  
#      <30000                 65%                     40%               20000
#       >30000                75%                     65%               30000

In [25]:
# total = bs+da+ta+inc



bs =int(input("enter a basic salary:"))

#condition
if bs<10000:
    da,ta,inc=50,10,5000
    
elif bs<20000:
    da,ta,inc=60,20,10000
    
elif bs<30000:
    da,ta,inc=65,40,20000
    
else:
    da,ta,inc=75,65,30000
    
#Arithemetic Expression

da_total= da / 100*bs
ta_total= ta / 100*bs

total=bs+da_total+ta_total+inc

#display Output
print("--------salary slip-------------")
print("basic salary:",bs)
print("dearness allowance:",da_total)
print("travelling allowance:",ta_total)
print("incentive",inc)

print("total salary:",total)

enter a basic salary:5000
--------salary slip-------------
basic salary: 5000
dearness allowance: 2500.0
travelling allowance: 500.0
incentive 5000
total salary: 13000.0

In [27]:
#WAP to verify username and password

u='om'
p='3456'
username=input("Enter username:")
password=input("enter password:")

if username==u and password==p:
    print("login successfully:")
else:
    print("invalid crendetails")

Enter username:om
enter password:2334
invalid crendetails

In [2]:
#WAP to display marksheet for 5 subjects having name,roll,marks of all subjects ,total marks,grade.
# 90+: 'A+',80-90:,'A',70-80:'B+',60-70:'B',50-60:'c+'

#Taking inputs

name=input("Enter a name of sudent:")
rollno=input("enter a roll no:")
M1=int(input("Enter a marks of subject 1:"))    #typecasting from string to integer
M2=int(input("Enter a marks of subject 2:"))
M3=int(input("Enter a marks of subject 3:"))
M4=int(input("Enter a marks of subject 4:"))
M5=int(input("Enter a marks of subject 5:"))

#pass condition

if M1>=40 and M2>=40 and M3>=40 and M4>=40 and M5>=40:
    #total  marks
    total=M1+M2+M3+M4+M5
    
    #PERCENTAGE MARKS
    per=total/5
    
    # Grade 
    if per>=90:
        gr='A+'
        
    elif per>=80:
        gr='A'
    elif per>=70:
        gr='b+'
    elif per>=60:
        gr='b'
    elif per>=50:
        gr='c+'
    else:
        gr='c'
        
 #if sudent is fail (condition)

else:
    total='---'
    per='---'
    gr='---'

#display marksheet 

print("-------Markssheet-------")
print(f"Name\t: {name}    \t      exam number:{rollno}\n")
print("python\t",M1)
print("JAVA\t",M2)
print("DOT.NET\t",M3)
print("ML\t",M4)
print("DS\t",M5)
print("-----------------------------------------")

print(f"total marks\t: {total}")
print(f"percentage marks\t: {per} %   grade\t:{gr}")

Enter a name of sudent:pawan
enter a roll no:47
Enter a marks of subject 1:67
Enter a marks of subject 2:78
Enter a marks of subject 3:78
Enter a marks of subject 4:568
Enter a marks of subject 5:69
-------Markssheet-------
Name	: pawan    	      exam number:47

python	 67
JAVA	 78
DOT.NET	 78
ML	 568
DS	 69
-----------------------------------------
total marks	: 860
percentage marks	: 172.0 %   grade	:A+

In [4]:
#WAP to display final amount ,interset earns on fixed deposit for SBI.

#                                 All     Senoir Citizen
#7 days to 45 days                3.50    4.00
#46 days to 179 days              5.50    6.00
#180 days to 210 days             6.25    6.75
#211 days to less than 1 year     6.50    7.00
#1 Year to less than 2 years      6.80    7.30
#2 years to less than 3 years     7.00    7.50
#3 years to less than 5 years     6.75    7.25
#5 years and up to 10 years       6.50    7.50*

#Taking inputs

P=input("Enter Principal:")
N=int(input("enter tenure in days:"))
age=int(input("Enter age in years:"))


if age<60:
    
#condition for ROI

    if N>=7 and N<=45:
        R=3.5
    elif N<=179:
        R=5.50
    elif N<=210:
        R=6.25
    elif N<=365:
        R=6.50
    elif N<=730:
        R=6.80
    elif N<=1095:
        R=7.00
    elif N<=1825:
        R=6.75
    else:
        R=6.50


else:
    if N>=7 and N<45:
        R=4
    elif N<=210:
        R=6.75
    elif N<=365:
        R=7
    elif N<=730:
        R=7.3
    elif N<=1095:
        R=7.5
    elif N<=1825:
        R=7.25
    else:
        R=7.5
        
#Arithmetic expression 
CI=P*(1+(R/100))**(N/365)

#Display outcome

print("Principle Amount:",P)
print("Tenure:",N,"Days")
print("Rate of interest:",R)
print("Final amount:",round(CI-P,2))

Enter Principal:20000
enter tenure in days:365
Enter age in years:65

TypeError: can't multiply sequence by non-int of type 'float'

In [5]:
#WAP to calculate direct income from all sources as per new regime.

In [8]:
Income Slabs                      Individuals (for all age categories)

Up to Rs 2,50,000                               Nil

Rs 2,50,001 - Rs 5,00,000                       5%

Rs 5,00,001 - Rs 7,50,000                        10%

Rs 7,50,001 - Rs 10,00,000                       15%

Rs 10,00,001 - Rs 12,50,000                      20%

Rs 12,50,001 - Rs 15,00,000                      25%

Rs 15,00,001 and above                           30%

SyntaxError: leading zeros in decimal integer literals are not permitted; use an 0o prefix for octal integers (3486750229.py, line 5)

In [ ]:
#Taking input from user

inc =int(input("Enter your Income:"))

if inc <=25000:
    tax=0
elif inc<=500000:
    tax=5/100*(inc-250000)
elif inc<=750000:
    tax=12500+10/100*(inc-500000)
elif inc<=1000000:
    tax=37500+15/100*(inc-750000)
elif inc<=1250000:
    tax=75000+20/100*(inc-1000000)
elif inc<=1500000:
    tax=125000+25/100*(inc-1250000)
else :
    tax=187500+30/100*(inc-1500000)
    
    
#Display outcome
print("Tax Liablility:",tax)