In [1]:
#Python Introduction

In [2]:
# Comments

# 1.Single line comments
# 2.Inline comments
# 3.Multiline comments
# 4. Docstring

In [5]:
# WAP to display "Hello World !"

print("hello world !")

hello world !

In [4]:
# WAP to display welcome to seven mentor

print(" welcome to seven mentor", end=",")
print("Fc road pune")

 welcome to seven mentor,Fc road pune

# Taking input from user

In [13]:
# WAP to take "username" , "password" from user.

u =input("Enter username :")
p=input ("Enter password:")

Enter username :ahgv
Enter password:anu123

In [14]:
u,p

('ahgv', 'anu123')

## Data types

In [16]:
# String 

a = 'om kshirsagar'
print(a,type(a))

om kshirsagar <class 'str'>

In [17]:
#int

b=123
print(b,type(b))

123 <class 'int'>

# float

In [18]:
#float 

c=23.45
print(c,type(c))

23.45 <class 'float'>

# boolean

In [19]:
# boolean

d=150>345
print(d,type(d))

False <class 'bool'>

# Operaters

In [2]:
# 1.Arithemtic operators
# 2.Logical Operators
# 3.shifting Operators
# 4.Bitwise operators

In [3]:
# Arithmetic operators [+,-,/,//,%,**]

In [4]:
# 1.Adittion [+]

a=100
b=23


add=a+b
print(add)

123

In [5]:
# 2.Substraction[-]

sub=b-a
print(sub)

-77

In [6]:
# 3.multiplication[*]

mul=a*b
print(mul)

2300

In [7]:
# 4.division[/]

div=a/b
print(div)

4.3478260869565215

In [9]:
# 5.Floor division[//]

fdiv=a//b
print(fdiv)

4

In [10]:
# 6.Reminder[%]

rem=a%b
print(rem)

8

In [11]:
# 7.exponentional

a=12
b=2

p=a**b
print(p)

144

In [12]:
# How to take input
# how to display
#Arithmitic Operator

In [13]:
# WAP to add 2 numbers given by user

n1= input("Enter a number:")
n2= input("Enter a number:")

add=n1+n2

print("Addition:",add)

Enter a number:100
Enter a number:200
Addition: 100200

#### Typecasting

In [14]:
# CHanging datatype of variable without changing its value.

In [15]:
# String, int,float,boolean,complex

In [16]:
# String => int,float,bool,complex

In [17]:
# string to int

s1='10'

print(s1,type(s1))

i1=int(s1)
print(i1,type(i1))

10 <class 'str'>
10 <class 'int'>

In [18]:
# string to complex number

c1=complex(s1)
print(c1,type(c1))

(10+0j) <class 'complex'>

In [19]:
# WAP to add 2 numbers given by user

n1= int(input("Enter a number:"))    # accepting input and typecasting it str=>int
n2= int(input("Enter a number:"))

add=n1+n2

print("Addition:",add)

Enter a number:100
Enter a number:200
Addition: 300

In [20]:
# WAP to area of circle.  area =3.14 r square

# Taking input from the user

r= float(input("Enter Radius:"))   # Typecasting from str=>float

# Arithmetic expression
area= 3.14*r**2

# Display Result
print("Area of circle: ",area)

Enter Radius:10
Area of circle:  314.0

In [24]:
# WAP to conert temp from degree to ferenite.   (c* 9/5)+32

# taking input from user
c=float(input("Enter temp in degree"))

#Expression
f=(c*9/5)+32


#display result
print(c,"dgree =",f,"F")

Enter temp in degree38
38.0 dgree = 100.4 F

In [25]:
# WAP to convert doolars into INR.   1$=83.43 INR

#Taking input
D=float(input("Enter number in USD:"))


#Arithmetic Expression
I=83.43*D

# DispLAY 
print(D,"USD=",I,"INR")

Enter number in USD:100
100.0 USD= 8343.0 INR

In [26]:
# WAP  to volume of sphere .   4/3 pi r cube

#Taking input
r=float(input("enter a radius:"))

#Arithmetic Expression
v= 4/3*3.14*r**3

#DisplAY 
print("Volume:",round(v,2))

enter a radius:10
Volume: 4186.67

In [28]:
# WAP find area of rectangle.    area=length*breath

#Taking input
l=float(input("Enter a length of rectangle:"))
b=float (input("Enter a brreath of rectangle:"))

# Arithmetic expression
a=l*b

#Display
print("area of reactangle:",a)

Enter a length of rectangle:50
Enter a brreath of rectangle:50
area of reactangle: 2500.0

In [29]:
# WAP to display intrested and amount for simple intrest.   SI=PNR/100

# Taking INputs
p=float(input("Enter principle Amount:"))
r=float(input("Enter rate of intrset:"))
n=float(input("Enter tenure in year:"))

# aritmetic exprression
SI=p*r*n/100

#Display 
print("simple intrest:",SI)
print("final amount:",p+SI)

Enter principle Amount:100
Enter rate of intrset:10
Enter tenure in year:3
simple intrest: 30.0
final amount: 130.0

# ROUND OF FUNCTION

In [1]:
#

a=10/3
print(round(a,2))

3.33

In [8]:
#WAP to display SIP returns.


#Taking inputs from user

P=int(input("monthly investment:"))           #Monthly SIP amount 
R=float(input("expected rate of return:"))    #years ROI
N=int(input("tenure in years:"))              #N IN YEARS   

#Arithmetic expression

#convert ROI from year to month
r=R/12/100
#convert years into month
n=N*12

A=P*(((1+r)**n)-1)*(1+r)/r
#DisplaY OUTPUT
print("INVESTED AMOUNT:",P*N)
print("INVESTED  :",A-(P*N))
print("total value:",A)

monthly investment:5000
expected rate of return:10
tenure in years:10
INVESTED AMOUNT: 50000
INVESTED  : 982760.1019716572
total value: 1032760.1019716572

In [15]:
#WAP to  display EMI 

#Taking input from user

P=int(input("loan amt:"))
R=float(input("rate of intrest:"))
N=int(input("loan tenure for month:"))

#converting yearly ROI into monthly ROI
r=R/12/100

#Convert tenure from years to month
n=N*12

E=P*r*(((1+r)**n)/((1+r)**n-1))

print("------------E---------")

print(f"loan amount :{P}\n rate of intrest: {R}\n loan Tenure  :{N}")
print(f"monthly EMI:{round(E)}\n Total Amount: {round(E*n)}")
print("Total Intrested:",(round(E*n)-P))

loan amt:20000
rate of intrest:15
loan tenure for month:2
------------E---------
loan amount :20000
 rate of intrest: 15.0
 loan Tenure  :2
monthly EMI:970
 Total Amount: 23274
Total Intrested: 3274