#  Loop

In [ ]:
# 1. for Loop
# 2. while Loop

In [ ]:
# Welcome To Seven Mentor

In [ ]:
print(" Welcome to Seven Mentors ! ")
print(" ")

## for Loop

In [ ]:
# Synatx : 

# for var in sequence :

In [ ]:
# Sequence generator Function  :

In [ ]:
#range(start = 0 , stop (exclusive) , step = 1 )

In [ ]:
# Generate 1 to 10.

list(range(1 , 11 ))

In [ ]:
# Generate 
# 1. 1,100
# 2. 101, 200
# 3. 105, 110, 115, 300

In [ ]:
print(list(range(1, 101)))

In [ ]:
print(list(range(101, 201)))

In [ ]:
print(list(range(105, 301, 5)))

In [ ]:
# Example - 1

In [ ]:
# 1.  WAP to display (Traverse through)  1 to 10 numbers.

for i in   range(1,11) : 
    print(i)

In [ ]:
# 2. WAP to display "Welcome to Seven Mentors " * 100 times.

for i in range(101,201) : 
    print(f"  \t Welcome to Seven Mentors ")

In [ ]:
# 3. WAP to display 222 to 333. 

for i in range(222 , 334)  :
    print(i, end = "  \t  ")

####  Conditions in Loop

In [ ]:
# 4.  WAP to display even number from 333 to 777.

for i in range(333, 778) : 
    if i % 2 == 0 :
        print(i, end = "  \t  ")

In [ ]:
# 5. WAP to display multiples of 7 from 234 to 678.

for i in range(234, 679) : 
    if i % 7 == 0 :
        print(i, end = "\t   ")

In [ ]:
# 6. WAP to display multiples of 5, 7, 11 for all 4 digit numbers.

for i in range(1000, 9999 + 1) : 
    if i % 5 == 0 and  i % 7 == 0 and i % 11 == 0: 
        print(i, end = "\t  ")

In [ ]:
# 7. WAP to display factors of 12.

for n in range(1, 12 + 1) :
    if 12 % n == 0 : 
        print(n)

In [ ]:
# 8. WAP to display factors of number given by User.

num =  int(input(" Enter a Number : "))     # Number given by User 

for i in range(1, num + 1 ) :               # Iterating i for factors :  i = 1,2,3,4,... num
    if num % i == 0 :                       # To check factors of number entered by user
        print(i, end = "\t")                # Display factor

In [ ]:
# 9.  WAP to display factors of number given by user and count them.

c = 0        # counter initialization 

num = int(input(" Enter a  Number : "))

for i in range(1, num + 1) :
    if num % i == 0 :
        print(i, end = "\t")
        
        c = c + 1
        
print("\n Count of Factors : ",  c)

In [ ]:
# WAp to check whether given number is prime.

c = 0        # counter initialization 

num = int(input(" Enter a  Number : "))

for i in range(1, num + 1) :
    if num % i == 0 :
        print(i, end = "\t")
        
        c = c + 1
        
print("\n Count of Factors : ",  c)

# Check Prime Number 

if c == 2 : 
    print(" Prime Number ")
else :
    print(" Not a Prime Number ")

In [3]:
#  WAP to find addition of 1 to 10. 

sum = 0 
for i in range(1, 11) : 
    sum = sum + i
    # print("Iteration", i,"              ",  i,"              ",  sum )
    
print("Summation is : ", sum)

Summation is :  55

In [7]:
#  WAP to find addition of 51 to 75.

s = 0    # to store addition at every iteration.

for i in range(51, 75+1) :
    s = s + i
    
print(s)

1575

In [13]:
# WAp to add all 2 digit numbers.

s = 0 
for i in range(10 , 99 + 1) : 
    s += i                    # s = s + i
    
print(s)

4905

In [18]:
# WAP to add all 3 digit numbers

s = 0 

for x in range(100, 999 + 1) : 
    s = s + x 
    
print(s)

494550

In [21]:
# WAP to add all multiples of 5 in 111 to 222.

s = 0
for i in range(111, 222+1) :
    if i % 5 == 0 : 
        s = s + i
print(s)

3685

In [23]:
# WAP to add all values given by user.

n1 = int(input(" Enter a Number : "))
n2 = int(input(" Enter a Number : "))
s = 0 

for i in range( n1 , n2 + 1) : 
    s = s + i
    
print(s)

 Enter a Number : 5
 Enter a Number : 55
1530

In [24]:
# WAP to add all even numbers in the range given by user.

n1 = int(input(" Enter a Number : "))
n2 = int(input(" Enter a Number : "))
s = 0 

for i in range( n1 , n2 + 1) :
    if i % 2 == 0 :
        s = s + i
    
print(s)

 Enter a Number : 0
 Enter a Number : 10
30

In [28]:
# WAP to find , count and sum of all factors of a number given by user.

n1 = int(input(" Enter a Number : "))
c = 0   # count
s = 0   # Addition 

for i in range(1, n1+1) :
    if n1 % i== 0 : 
        print(i)
        c = c + 1   # counting Factors
        s = s + i   # Addition of factors 
        
print("Count = ", c)
print("Sum   = ", s)

 Enter a Number : 125
1
5
25
125
Count =  4
Sum   =  156

In [31]:
# Factorial of number.

# 4! = 4 * 3 * 2 * 1 = 24

n1 = int(input(" Enter a Number : "))

f = 1                    # Factorial 
for i in range(1, n1+1) :
    f = f * i 

print(n1, "! = ", f)

 Enter a Number : 6
6 ! =  720

In [9]:
# Data Manipulation

import pandas as pd

In [10]:
df =  pd.read_csv('train.csv')

In [11]:
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [47]:
df['Name']

In [55]:
# 1. WAP to count total male.

c = 0               # count male
for i in df['Sex'] : 
    if i == 'male' : 
        c = c + 1
print("Count of Males : ", c)

Count of Males :  577

In [54]:
# 2. WAP to count total female.

c1 = 0 

for i in df['Sex'] : 
    if i == 'female' : 
        c1 = c1 + 1
        
print(" Count of Females : ", c1)

 Count of Females :  314

In [12]:
# Percentage Count

print(" % Male Count   : ", round(c / 891  * 100 , 2))
print(" % Female Count : ", round(c1 / 891  * 100 , 2))

NameError: name 'c' is not defined

In [13]:
# 2. WAp to display total passengers travelling in each class.

c1, c2, c3 = 0, 0, 0 
for i in df['Pclass'] : 
    if i == 1 :          # Condition for class 1 
        c1 = c1 + 1
    elif i == 2 :        # Condition for class 2 
        c2 =c2 + 1
    else :               # else class 3
        c3 = c3 + 1
        
        
print("Count of Class - 1 Passengers : ", c1, " \t Percentage : ", round(c1/891 * 100 , 2), "%" )
print("Count of Class - 2 Passengers : ", c2, " \t Percentage : ", round(c2/891 * 100 , 2), "%" )
print("Count of Class - 3 Passengers : ", c3, " \t Percentage : ", round(c3/891 * 100 , 2), "%" )

Count of Class - 1 Passengers :  216  	 Percentage :  24.24 %
Count of Class - 2 Passengers :  184  	 Percentage :  20.65 %
Count of Class - 3 Passengers :  491  	 Percentage :  55.11 %

In [24]:
# 3. Count and percentage count of  of Survived / Non Survived Passengers.    # 0 : not survived   1 : survived 

c1, c2 = 0, 0 
for i in df['Survived'] :
    if i == 0 : 
        c1 = c1 + 1
    else : 
        c2 = c2 + 1 
        
print("Count of Non Survived : ", c1)      
print("Count of     Survived : ", c2) 

        
print("% Count of Non Survived : ", round(c1 / 891 * 100, 2), "%" )      
print("% Count of     Survived : ", round(c2 / 891 * 100, 2), "%" )

Count of Non Survived :  549
Count of     Survived :  342
% Count of Non Survived :  61.62 %
% Count of     Survived :  38.38 %

In [33]:
# 4. WAP to display average ticket cost.    average = total / count 

sum = 0 
for i in df['Fare'] :
    sum = sum + i 
    
print("Average Ticket Cost : ", round(sum / 891 , 2))

Average Ticket Cost :  32.2

In [39]:
# 5. Average age of passengers.

s = 0    # Total Age
c = 0    # Count Passengers

for i in df['Age'] : 
    if i > 0 : 
        # print(i, end = "\t")
        
        s = s + i    # Total Age 
        c = c + 1    # Count Passengers 
        
print(" Average Age : ", round(s / c, 2))

 Average Age :  29.7

In [40]:
df['Age'].mean()

29.69911764705882

In [55]:
# 6. Display Sex wise Survival Status of Passengers.

c1, c2,  = 0, 0    # Male   status
c3, c4   = 0, 0    # Female Status
for i, j  in  zip(df['Survived'], df['Sex']) : 
    
    # Male 
    if j == 'male' and i == 0 : 
        c1 = c1 + 1                      # Non Survived Male 
    elif j == 'male' and i == 1 : 
        c2 = c2 + 1                       # Survived Males
        
    # Female 
    elif j == 'female' and i == 0 : 
        c3 = c3 + 1                      # Non Survived Female
    else : 
        c4 = c4 + 1                      # Survived Female 
        
print(" Male  : ")   
print(f" Non Survived  : {c1}  \t Percentage Non Survived : {round (c1 / 891 * 100 , 2)} %") 
print(f"     Survived  : {c2}  \t Percentage     Survived : {round (c2 / 891 * 100 , 2)} %")

print("\n Female : ")
print(f" Non Survived  : {c3}  \t Percentage Non Survived : {round (c3 / 891 * 100 , 2)} %") 
print(f"     Survived  : {c4}  \t Percentage     Survived : {round (c4 / 891 * 100 , 2)} %")

 Male  :
 Non Survived  : 468  	 Percentage Non Survived : 52.53 %
     Survived  : 109  	 Percentage     Survived : 12.23 %

 Female :
 Non Survived  : 81  	 Percentage Non Survived : 9.09 %
     Survived  : 233  	 Percentage     Survived : 26.15 %

##  Loop within Loop

In [58]:
# Example :

In [60]:
# Traverse through 4,4 Matrix.    rows = 4      columns = 4
c = 0 
for i in range(4) :             # Rows 
    for j in range(4) :         # Columns 
        c = c + 1               # Iteration Count 
        
        print("Iteration ", c, "\t",  i, j)

Iteration  1 	 0 0
Iteration  2 	 0 1
Iteration  3 	 0 2
Iteration  4 	 0 3
Iteration  5 	 1 0
Iteration  6 	 1 1
Iteration  7 	 1 2
Iteration  8 	 1 3
Iteration  9 	 2 0
Iteration  10 	 2 1
Iteration  11 	 2 2
Iteration  12 	 2 3
Iteration  13 	 3 0
Iteration  14 	 3 1
Iteration  15 	 3 2
Iteration  16 	 3 3

In [65]:
# WAP to display 

"""
0    1    2    3    4  
*    *    *    *    *   0
*    *    *    *    *   1
*    *    *    *    *   2
*    *    *    *    *   3
row = 4  columns = 5 

"""

for i in range(4) :                # Rows 
    for j in range(5) :            # Columns 
        print(i,j , "*", end = "\t")
    print()

0 0 *	0 1 *	0 2 *	0 3 *	0 4 *
1 0 *	1 1 *	1 2 *	1 3 *	1 4 *
2 0 *	2 1 *	2 2 *	2 3 *	2 4 *
3 0 *	3 1 *	3 2 *	3 3 *	3 4 *

In [68]:
# WAp to display matrix of 7,5 with  "*" .

#  Rows = 7    Columns = 5

for i in range(7) :         # Rows     i = 0,1,2,3,.. 6
    for j in range(5) :     # Columns  j = 0, 1, 2, 3, 4
        print("*", end = "\t")
    print()

*	*	*	*	*
*	*	*	*	*
*	*	*	*	*
*	*	*	*	*
*	*	*	*	*
*	*	*	*	*
*	*	*	*	*

In [72]:
# WAp to display matrix of 15, 3 with "#".
# Rows = 15      Columns = 3 

for i in range(15) :             # Rows i = 0,1,2, .. , 14
    for j in range(3) :          # Columns j = 0, 1, 2
        print("#", end = "\t")
    print()

#	#	#
#	#	#
#	#	#
#	#	#
#	#	#
#	#	#
#	#	#
#	#	#
#	#	#
#	#	#
#	#	#
#	#	#
#	#	#
#	#	#
#	#	#

In [76]:
print("abc", end = ",")
print("pqr", end = "")
print("xyz")

abc,pqr
xyz

In [4]:
# WAP to display "*" pattern of matrix  5*5.

# Rows=5   Columns = 5

for i in range(5) :          # Rows 
    for j in range(5) :      # Columns
        print("*", end = "\t")
    print()

*	*	*	*	*
*	*	*	*	*
*	*	*	*	*
*	*	*	*	*
*	*	*	*	*

In [10]:
# WAp to display 

"""
1   2   3   4    5
1   2   3   4    5
1   2   3   4    5
1   2   3   4    5
1   2   3   4    5
1   2   3   4    5
Rows = 6        Columns = 5
"""
for i in range(6) :                 # Rows     i = 0,1,2,3,4,5
    for j in range(5) :             # Columns  j = 0,1,2,3,4
        print(j+1, end = "\t")
    print()

1	2	3	4	5
1	2	3	4	5
1	2	3	4	5
1	2	3	4	5
1	2	3	4	5
1	2	3	4	5

In [15]:
# WAP to display 
"""
101  102  103  104
102  103  104  105
103  104  105  106
104  105  106  107
105  106  107  108                  Rows = 5    Columns = 4
"""
for i in range(5) :                 # i = 0, 1, 2, 3, 4
    for j in range(4) :             # j = 0, 1, 2, 3
        print(i+j+1+100, end = "\t")
    print()

101	102	103	104
102	103	104	105
103	104	105	106
104	105	106	107
105	106	107	108

In [22]:
# WAP to display table of 2 to 30.

# i = 1, 2,3,4,... 10                  j = 2, 3, 4, ... 30
for n in range(2, 31) :             # Numbers  = 2,3,... 30
    for i in range(1,11) :          #        i = 1,2,3, .. , 10 
        print(n * i, end = "\t")
    print()

SyntaxError: incomplete input (2237619730.py, line 7)

In [ ]:
#  WAP to display factorial of first 2, 10 numbers.


for n in range(1, 10+1) :      # n = 1,2,3,4,... , 10   Numbers 
    f = 1    # Factorial
    for i in range(1,n+1) :    # i = 1, ... , n
        f = f * i              
    
    print(n, "! = ", f)

####  Conditions in Loop within Loop

In [29]:
# WAP to Display 

"""
*   
*  *
*  *  *
*  *  *  *
*  *  *  *  *
Rows = 5    Columns = 5
"""

for i in range(5) : 
    for  j in range(5) : 
        if i >= j : 
            print("*", end = "\t")
    print()

*
*	*
*	*	*
*	*	*	*
*	*	*	*	*

In [31]:
for i in range(6) :    # i = 1,2,3,4, 5
    print("*" * i)

*
**
***
****
*****

In [43]:
# WAp to display 
"""
*
   *
      *
         *
            *
               *          rows =6   columns = 6  

"""

for i in range(6) : 
    for j in range(6) : 
        if i == j :
            print("*", end = "\t")
        else : 
            print("", end = "\t")
    print()

*
	*
		*
			*
				*
					*

##  2. While()

In [44]:
# Syntax : 
# while(condition) :

In [45]:
# Initialization
# Condition
# Increment / Decrement

In [46]:
# WAP to display 1 to 10.

i = 1             # Initialization
while i <= 10 :
    print(i)
    i = i + 1

1
2
3
4
5
6
7
8
9
10

In [ ]:
# WAP to display 11 to 25.
# WAP to display 111 to 222
# WAP to display 55 to 22.
# WAP to 10, 15, 20, 25, .. 50.
# WAP to display 100, 95, 90, 85, .., 50.

In [48]:
# WAP to display 11 to 25.

i = 11                 # Initialization
while i <= 25:         # Condition
    print(i, end ="\t")
    i = i + 1          #Increment

11	12	13	14	15	16	17	18	19	20	21	22	23	24	25

In [2]:
# WAP to display 111 to 222

i = 111                     # Initialization 

while i <= 222 :            # Condition 
    print(i, end = "\t")
    i = i + 1               # Increment

111	112	113	114	115	116	117	118	119	120	121	122	123	124	125	126	127	128	129	130	131	132	133	134	135	136	137	138	139	140	141	142	143	144	145	146	147	148	149	150	151	152	153	154	155	156	157	158	159	160	161	162	163	164	165	166	167	168	169	170	171	172	173	174	175	176	177	178	179	180	181	182	183	184	185	186	187	188	189	190	191	192	193	194	195	196	197	198	199	200	201	202	203	204	205	206	207	208	209	210	211	212	213	214	215	216	217	218	219	220	221	222

In [4]:
# WAP to display 55 to 22.

i = 55  # initialization
while i >= 22 :
    print(i, end = "\t")
    i = i - 1

55	54	53	52	51	50	49	48	47	46	45	44	43	42	41	40	39	38	37	36	35	34	33	32	31	30	29	28	27	26	25	24	23	22

In [5]:
# WAP to 10, 15, 20, 25, .. 50.

i = 10                        # Initialization 

while i <= 50 :
    print(i, end ="\t")
    i = i + 5

10	15	20	25	30	35	40	45	50

In [6]:
# WAP to display 100, 95, 90, 85, .., 50.

i = 100  # initialization
while i >= 50 :
    print(i, end = "\t")
    i = i - 5

100	95	90	85	80	75	70	65	60	55	50

In [12]:
# WAp to display table of number given by User.

n = int(input(" Enter a Number : "))
i = 1                                        # initialization 
while i < 11 : 
    print(n * i, end = "\t")
    i = i + 1

 Enter a Number : 23
23	46	69	92	115	138	161	184	207	230

In [16]:
# WAP to display squares and cubes of  of all numbers from 1 to 30.

i = 1
while i <= 30  :
    print(i, "\t", i ** 2, "\t", i ** 3)
    i = i + 1

In [24]:
# WAp to count and  display multiples of 11 in range given by user.

# Taking inputs from User 

n1 = int(input(" Enter a Number : "))    # 111
n2 = int(input(" Enter a Number : "))    # 222

i = n1                            # Initialization
c = 0                             # counter variable
while i <= n2  :                  # Condition 
    if i % 11 == 0 :              # Condition to get multiples of 11         
        print(i, end = "\t")
        c = c + 1                 # Increment Counter 
    i = i + 1
    
print("\nCount : ", c)

 Enter a Number : 444
 Enter a Number : 777
451	462	473	484	495	506	517	528	539	550	561	572	583	594	605	616	627	638	649	660	671	682	693	704	715	726	737	748	759	770
Count :  30

In [32]:
# WAP to display digits of a number.

n1 = int(input(" Enter a Number  : "))

while n1 > 0 : 
    d = n1 % 10         # remainder 
    n1  = n1 // 10   
    
    print(d)

 Enter a Number  : 12234
4
3
2
2
1

In [35]:
# WAP to count no of digits.

n1 = int(input(" Enter a Number  : "))
c = 0                                             # Count variable
while n1 > 0 : 
    d = n1 % 10         # remainder 
    c = c + 1
    n1  = n1 // 10   
    
    print(d)  
    
print(" Count of Digits : ", c)

 Enter a Number  : 12345
5
4
3
2
1
 Count of Digits :  5

In [38]:
# WAp to add all digits 

n1 = int(input(" Enter a Number  : "))
sum = 0 
while n1 > 0 : 
    d = n1 % 10         # remainder 
    n1  = n1 // 10   
    sum = sum + d    
    print(d)  
    
print(" Sum of Digits : ", sum)

 Enter a Number  : 123
 Sum of Digits :  6

In [39]:
# WAp to add squares of all digits of a number.

n1 = int(input(" Enter a Number  : "))
sum = 0 
while n1 > 0 : 
    d = n1 % 10         # remainder 
    n1  = n1 // 10   
    sum = sum + (d * d )   
    print(d)  
    
print(" Sum of Squares of  Digits : ", sum)

 Enter a Number  : 123
3
2
1
 Sum of Squares of  Digits :  14

In [43]:
# WAp to reverse a number.

n1 = int(input(" Enter a Number  : "))
r = 0                  # Reverse given number 

while n1 > 0 : 
    d = n1 % 10         # remainder 
    n1  = n1 // 10   
    
    r = r * 10  + d      # reverse given number 
    
    print(d)             # Display digits of given number 
    
print(" Reverse Number : ", r)

 Enter a Number  : 123456
6
5
4
3
2
1
 Reverse Number :  654321

In [47]:
# WAp to check whether number is pallindrome.

n1 = int(input(" Enter a Number  : "))
n2 = n1
r = 0                  # Reverse given number 

while n1 > 0 : 
    d = n1 % 10         # remainder 
    n1  = n1 // 10   
    
    r = r * 10  + d      # reverse given number 
    
    print(d)             # Display digits of given number 
    
print(" Reverse Number : ", r)

# Check Pallindrome
if n2 == r :
    print(" Pallindrome")
else :
    print(" Not Pallindrome ")

 Enter a Number  : 123
3
2
1
 Reverse Number :  321
 Not Pallindrome

In [52]:
# WAp to check whether given number is amstrong number.


n1 = int(input(" Enter a Number  : "))
n2 = n1 
sum = 0 
while n1 > 0 : 
    d = n1 % 10                      # remainder 
    n1  = n1 // 10   
    sum = sum + (d ** 3 )          # Sum of all cubes of digits 
    print(d)  
    
print(" Sum of Cubes of  Digits : ", sum)

# To check whether amstrong Number 

if n2 == sum :
    print(" Amstrong Number ")
else :
    print(" Not an Amstrong Number ")

 Enter a Number  : 153
3
5
1
 Sum of Cubes of  Digits :  153
 Amstrong Number

In [56]:
# WAP to find prime number.                           in range given by user.

n1 = 13
c = 0

i = 1
while i <= 13 : 
    if n1 % i == 0 : 
        print(i)
        c= c + 1
    i = i + 1
# To check Prime Number 
if     c == 2 : 
    print(n1, "is Prime Number ")

1
13
13 is Prime Number